<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BarberShop</title>
</head>
<body>
  <form action="/contacts" method="post">
    <input value="<%= @password %>" type="password" name="pass" placeholder="Enter your password">
    <input value="<%= @email %>" type="text" name="email" placeholder="Enter your email address">
    <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
</body>
</html>